<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Message</title>
    <link rel="stylesheet" href = "../../dist/css/photon.min.css"/>
    <style>
        .form-div{
            margin: 20px;
        }
    </style>
</head>
<body>
    <div id = "app">
        <header class="toolbar toolbar-header">
            <h1 class="title">Header with actions</h1>

            <div class="toolbar-actions">
                <div class="btn-group">
                    <button class="btn btn-large btn-default" v-on:click="send()">
                        <span class="icon icon-paper-plane"></span>
                        &nbsp;Send
                    </button>
                </div>
            </div>
        </header>
        <div class = "form-div">
            <div class="form-group">
                <label>To</label>
                <input type="text" v-model="to" class="form-control" placeholder="">
            </div>

            <div class="form-group">
                <label>Cc</label>
                <input type="text" v-model="cc" class="form-control" placeholder="">
            </div>

            <div class="form-group">
                <label>Subject</label>
                <input type="text" v-model="subject" class="form-control">
            </div>
            <div class="form-group">
                <input type = "button" class = "btn btn-large btn-positive" value = "attach" v-on:click="attach()" />
                <ul>
                    <li v-model="attachments" v-for="file,key in attachments">
                        {{ file }} <button class="btn btn-default" v-on:click="removeAttachment(key)">x</button>
                    </li>
                </ul>
            </div>
            <div class="form-group">
                <label>Message</label>
                <textarea id = "content" v-model="content" class="form-control" rows="15">q</textarea>
            </div>
        </div>
    </div>
</body>
 <!-- Include the scripts -->
<script src="../../public/js/tinymce/tinymce.min.js"></script>
<script src="index.js"></script>
</body>
</html>